POSTGRES_USER=crewlobby
POSTGRES_PASSWORD=change_me
POSTGRES_DB=crewlobby
POSTGRES_PORT=5432

DB_HOST=localhost
DB_PORT=5432
DB_NAME=crewlobby
DB_USER=crewlobby
DB_PASSWORD=change_me

PORT=3333

BETTER_AUTH_URL=http://localhost:3333
FRONTEND_URL=http://localhost:3000